<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/fontawesome-free-5.15.1-web/css/all.css">
    <title>Carlos Henrique - Homepage</title>
</head>

<body>
    <div id="app" class="container">
        <!-- Cabeçalho -->
        <div class="nav">
            <div class="navMenu">
                <a href=""><img src="assets/img/henrique.jpeg" alt="Foto de Carlos Henrique"></a>
                <p>{{ nomeCompleto }}</p>
            </div>
            <div class="navMenu">
                <ul>
                    <li>
                        <div class="dropdownBtn">
                            <a @click="cursosSeen" href="#">Certificados</a>
                            <transition name=fade>
                                <div v-if="cursoBtn" class="dropdownContent">
                                    <a v-for="curso in cursos" :key="curso.descr" @click="showModal(curso.img)" href="#">{{ curso.descr }}</a>
                                </div>
                            </transition>
                        </div>
                    </li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>

        <div class="about">
            <h1>Em desenvolvimento</h1>
        </div>

        <div class="footer">
            <a href="https://www.linkedin.com/in/carlos-henrique-azevedo/"><i class="fab fa-linkedin"></i>Carlos Henrique</a>
            <a href="https://github.com/carlosbda99"><i class="fab fa-github"></i>carlosbda99</a>
            <a href="https://api.whatsapp.com/send?phone=5584981878979"><i class="fab fa-whatsapp"></i>Whatsapp</a>
        </div>

        <!-- Cursos -->
        <transition name=fade>
            <div v-if="modalSeen" @click="closeModal" class="modal">
                <div class="contentModal">
                    <img :src="img" alt=""/>
                </div>
            </div>
        </transition>
    </div>
    <script src="assets/js/app.js"></script>
</body>

</html>