<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/fontawesome-free-5.15.1-web/css/all.css">
    <title>Carlos Henrique - Homepage</title>
</head>

<body>
    <!-- APP Vue -->
    <div id="app" class="container opac">

        <!-- Cabeçalho -->
        <div class="nav">
            <div class="navMenu">
                <a href="index.html"><img src="assets/img/henrique.jpeg" alt="Foto de Carlos Henrique"></a>
                <p id="nome">{{ nomeCompleto }}</p>
            </div>
            <div class="navMenu">
                <ul>
                    <li>
                        <div class="dropdown">
                            <a>Certificados</a>
                            <div class="dropdownContent">
                                <a v-for="curso in cursos" :key="curso.descr" @click="showModal(curso.img)" href="#">{{ curso.descr }}</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><i class="fas fa-bars" @click="activeMenu"></i></li>
                </ul>
            </div>
        </div>

        <!-- Visualização de about -->
        <div v-if="aboutVue" class="about">
            <div class="side">
                <img src="assets/img/henrique2.png" alt="">
            </div>
            <div class="main">
                <h1>Perfil profissional</h1>
                <div>
                    <p>
                        Profissional na área de tecnologia da informação desde 2018, sou estudante de graduação em Tecnologia 
                        em Redes de Computadores pelo IFRN e apaixonado por desenvolvimento. Experiência profissional 
                        com <i>banco de dados relacionais e não relacionais, Docker, gerência e monitoramento de redes, 
                        administração de servidores Linux e Windows (Active Directory) e implantação de serviços.</i>
                        também com conhecimento na área de <i>roteamento (OSPF, RIP, BGP)</i>.
                    </p>
                    <p>
                        Com conhecimentos no <i>desenvolvimento web</i> , linguagens de programação<i>C++, Python, PHP
                        e Javascript; ferramentas de versionamento (git) e frameworks reativos (Vue).</i>
                        Participei do desenvolvimentos de projetos como o <i><a href="https://latarc.github.io/umbu/">Umbu Framework</a></i>
                        em parceria com o <i><a href="https://latarc.ifrn.edu.br/">LaTARC</a> - IFRN</i> além de 
                        outros trabalhos na instituição.
                    </p>
                </div>
            </div>
        </div>

        <!-- Rodapé -->
        <div class="footer">
            <a href="https://www.linkedin.com/in/carlos-henrique-azevedo/"><i class="fab fa-linkedin"></i>Linkedin</a>
            <a href="https://github.com/carlosbda99"><i class="fab fa-github"></i>Github</a>
            <a href="https://api.whatsapp.com/send?phone=5584981878979"><i class="fab fa-whatsapp"></i>Whatsapp</a>
        </div>

        <!-- Modal de cursos no dropdown -->
        <transition name=fade>
            <div v-if="modalSeen" @click="closeModal" class="modal">
                <div class="contentModal">
                    <img :src="img" alt=""/>
                </div>
            </div>
        </transition>

        <!-- Menu responsivo -->
        <transition name="slide">
            <div v-if="isActive" @click="deactiveMenu" class="responsiveMenu">
                <div class="contentMenu" >
                    <div><a href="certificados.html">Certificados</a></div>
                    <div><a href="#">Sobre</a></div>
                    <div><a href="#">Contato</a></div>
                </div>
                <i @click="deactiveMenu" class="closeIcon fas fa-times"></i>
            </div>
        </transition>
    </div>

    <!-- Script Vue -->
    <script src="assets/js/app.js"></script>
</body> 

</html>