@media  screen and (min-width: 361px){
    .nav {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%); 
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        height: 120px;
    }

    .nav img {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 25px;
        margin-right: 10px;
    }

    .nav .navMenu {
        display: inline-flex;
    }

    .nav .navMenu ul{
        display: inline-flex;
    }

    .nav .navMenu ul li {
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
    }
}

